.page-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem auto;
}

.pages{
    width: 100%;
}

@media screen and (max-width:550px){
    .page-body .containers{
        padding: 0;
    }
}

/* Line clamp utility */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}